.button-save{
    color: #fff;
    height: 35px;
    background-color: forestgreen;
    border-radius: 20%;
    vertical-align: middle;
    align-self: right;
}

.input-generico{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 20%;
    margin: 5px;
}


.play-list-body {
    padding: 1rem 2rem;
}

.play-list-table-header {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    margin: 0;
    padding: 0;
    font-size: 90%;
    letter-spacing: 1px;
    border-bottom: solid 1px var(--color-2);
    padding-bottom: .5rem;
}

.play-list-table-header li {
    text-transform: uppercase;
    color: var(--color-4);
    opacity: .7;
}

.play-list-rows {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    margin: 0;
    padding: 1rem 0 0 0;
}

.play-list-rows .track-name-opacity {
    opacity: .7;
    font-weight: 300;
}

.cover-section {
    display: flex;
    padding: 0
}

.cover-section .cover-track {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.cover-section .cover-info {
    padding: 0 1rem;
}

.cover-section .cover-info .name-track-details {
    font-size: 80%;
    opacity: .7;
}

.edit-btn{
    background-color: yellow;
}

.del-btn{
    background-color: red;
}

#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }